In [165]:
import sampers
import importlib
import matplotlib.pyplot as plt
importlib.reload(sampers)
region = 'east'

In [166]:
shp = sampers.read_shp(sampers.shps[region])
shp

,zone,FIRST_LÃ¤n,FIRST_KO_1,FIRST_KNKO,geometry
0,0,0,None,0,"MULTIPOLYGON (((297619.654 6068847.281, 297615..."
1,700611,6,VAGGERYD,665,"POLYGON ((473565.617 6440467.882, 473569.127 6..."
2,700612,6,ANEBY,604,"POLYGON ((499095.672 6445343.779, 499111.256 6..."
3,700613,6,NÃSSJÃ,682,"POLYGON ((493659.743 6407794.202, 493922.178 6..."
4,700614,6,GNOSJÃ,617,"POLYGON ((429622.081 6386346.663, 429881.924 6..."
...,...,...,...,...,...
3033,991833,21,BOLLNÃS,2183,"POLYGON ((590438.423 6818754.224, 590367.115 6..."
3034,991841,21,HUDIKSVALL,2184,"POLYGON ((556367.389 6899443.143, 556599.791 6..."
3035,991842,21,HUDIKSVALL,2184,"POLYGON ((658174.968 6854585.580, 657593.070 6..."
3036,991843,21,HUDIKSVALL,2184,"POLYGON ((601449.909 6862634.692, 602432.546 6..."
3037,991844,21,HUDIKSVALL,2184,"POLYGON ((620953.958 6860197.929, 620918.527 6..."

In [167]:
odm = sampers.read_odm(sampers.odms[region])
odm

,ozone,dzone,work_Bike,business_Bike,other_Bike,work_Car,business_Car,other_Car,work_PublicTransport,business_PublicTransport,other_PublicTransport,work_Walking,business_Walking,other_Walking,work,business,other,total
0,700611,700611,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
1,700611,700612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
2,700611,700613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
3,700611,700614,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
4,700611,700715,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9253759,991844,991833,0.000000,0.000000,0.000000,0.796304,0.881717,0.770052,0.993191,0.423163,0.982032,0.000,0.0,0.00,1.789495,1.304880,1.752083,4.846459
9253760,991844,991841,0.000000,0.000000,0.000000,1.981645,2.151247,13.806590,0.572170,0.784277,14.058790,0.000,0.0,0.00,2.553815,2.935525,27.865380,33.354720
9253761,991844,991842,0.151370,0.000355,0.648036,40.215000,7.264530,78.887260,1.539540,4.518525,54.495110,0.000,0.0,0.00,41.905910,11.783410,134.030406,187.719726
9253762,991844,991843,0.987539,0.017135,2.423075,37.873120,5.887914,82.807530,4.198044,2.816242,40.889470,0.000,0.0,0.00,43.058703,8.721291,126.120075,177.900069
9253763,991844,991844,1139.564000,84.683300,1823.002000,1353.002000,422.201900,4569.613000,0.000000,0.000000,0.000000,1628.373,0.0,10323.17,4120.939000,506.885200,16715.785000,21343.609200

In [ ]:
agg_odm = sampers.aggregate_odm(odm)
agg_odm.head()

In [ ]:
geoodm = sampers.merge_odm_shp(agg_odm, shp)
geoodm

In [ ]:
fix, axes = plt.subplots(1,3)
shp.plot(ax = axes[0])
geoodm.plot(ax = axes[1], column='origin')
geoodm.plot(ax = axes[2], column='destination')